SetEnv BEYOND_PHP_ENVIRONMENT DEVELOPMENT

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]			# Redirige toutes les requêtes vers index.php

<IfModule mod_headers.c>
	<FilesMatch ".(css|js)$">
		Header set Cache-Control "public, max-age=604800, immutable"
	</FilesMatch>
</IfModule>